<div id="<%= dom_id programming_language %>">
  <p>
    <strong>Name:</strong>
    <%= programming_language.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= programming_language.description %>
  </p>

</div>
